html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.frameContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#editor,
#viewer {
    width: 50%;
    height: 100%;
    border-width: 0px;
}
